# Copy this to .env and fill real values
# For Gmail App Password: myaccount.google.com -> Security -> 2-Step ON -> App Passwords -> Generate

MONGO_URI=mongodb+srv://your_mongo_url
MONGO_DB_NAME=placement_ai
SECRET_KEY=supersecretkey_change_in_production
ACCESS_TOKEN_EXPIRE_MINUTES=11520

MAIL_USERNAME=your_gmail@gmail.com
MAIL_PASSWORD=your16charapppasswordwithoutspaces
MAIL_FROM="RGU Drive Master <your_gmail@gmail.com>"
ENV=development
